@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');

body{
    font-family: 'Montserrat',sans-serif;
    background:linear-gradient(45deg,rgb(255, 0, 0)10%,rgb(162, 0, 255) 50%, rgb(0, 247, 255) 100%);
    font-size: 20px;
    font-weight: normal;
}
table{
    border-collapse: collapse;
    
}

th, td{
    height: 200px;
    width: 150px;
    border:1px solid black;
    text-align: center;
}
img{
    width:100px
}
th{
    font-size: 24px;
    font-weight: bold;

}
h1{
    font-size: 48px;
    text-align: center;
}
td:hover{
    background: blanchedalmond;
}
